* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    overflow: scroll;
}

.header {
    position: relative;
    min-height: 10vh;
    width: 100%;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}

.pagetitleFIRST {
    position: relative;
    color: White;
    font-family: 'Inter', sans-serif;
    font-size: 8vmin;
}

.pagetitleSECOND {
    position: relative;
    color: #5CD32D;
    font-family: 'Inter', sans-serif;
    font-size: 8vmin;
}

hr {
    position: static;
    left: 200px;
    top: 100px;
    height: 2px;
    border: none;
    background-color: #4357BC;
}

#ImgOneRect {
    position: relative;
    top: 50px; 
    left: 300px; 
    width: 100vmin;
    max-width: 50vmin;
    height: 81vmin;
    background-color: #3D8AE9;
}

#RobAnHum {
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0.3vh;
    left: 0.8vh;
    max-width: 100%;
    height: 80vmin;
}

#MedicalRobotPic{
    position: relative;
    z-index: 1;
    top: 0.3vh;
    left: 0.8vh;
    max-width: 100%;
    height: 80vmin;
}

#NASARoverPic{
    position: relative;
    z-index: 1;
    top: 0.4vh;
    left: 1.2vh;
    max-width: 95%;
    height: 80vmin;
    border-radius: 20px;
}

#TextOneRect {
    position: relative;
    top: -744px; 
    left: 1110px; 
    width: 100vmin;
    max-width: 51vmin;
    height: 82vmin;
    background-color: #4357BC;
    
}


#WGreyWalt {
    position: relative;
    top: 100px;
    left: -420px; 
    width: 100vmin;
    max-width: 50vmin;
    height: 81vmin;
    background-color: #3D8AE9;
}

#WGreyWaltPic {
    z-index: 1;
    position: relative;
    top: 0.3vh;
    left: 0.5vh;
    max-width: 100%;
    height: 80vmin;
}

.FatherAutonomyText {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4vmin;
    text-decoration: underline;
    text-align: center;
    
}

#WhatMakesRobotH2 {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    color: White;
    font-family: 'Inter', sans-serif;
    font-size: 3vmin;
}
#InfoBoxHeader{
    font-family: 'Inter', sans-serif; 
    font-size: 3vmin;
    color: White;
    text-align: center;
    text-decoration: underline;
}
#InfoBoxBody1{
    line-height: 35px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

#InfoBoxBody2{
    line-height: 25px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: white;
}

.RoundRectInfo {
    position: relative;
    left: 48vmin; 
    bottom: -10vmin;
    width: 50vw;
    height: 23vh;
    background-color: #4357BC;
    border-radius: 35px;
    margin-top: 15vmin;
}

.FatherAutonomyText {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4vmin;
    text-align: center;
    margin-top: 10px; 
}

.FatherAutonomyTextLower{
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 2.3vmin;
    text-align: center;
    margin-top: 10px;
}

.cta-rectangle {
    position: relative;
    left: 65vmin; 
    top: -600px;
    height: 300px;
    width: 220px;
    padding: 15px;
    background-color: #3D8AE9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.cta-rectangle p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    margin: 5px 0;
}

.cta-link {
    color: #5CD32D;
    text-decoration: underline;
}




.hamburger-menu {
    display: none;
    cursor: pointer;
    order: 2;
}

.hamburger-menu img {
    width: 60px;
    height: auto;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3D8AE9;
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}


@media screen and (max-width: 768px) {
    .nav-links ul {
        display: none;
        position: fixed;
        top: 0;
        right: -100%; 
        width: 80%;
        max-width: 400px; 
        background-color: #242424;
        z-index: 1;
        transition: right 0.3s ease; 
    }

    .nav-links.active ul {
        right: 0; 
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .hamburger-menu .bar {
        transition: 0.4s;
    }

    .nav-links.active ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #242424;
        z-index: 1;
    }

    .nav-links.active ul li {
        text-align: center;
        padding: 15px;
    }
}

footer{
    margin-top: 150px;
}

#FooterTextRights{
    font-family: 'Inter', sans-serif;
    color: white;
}

#FooterTextSocials{
    font-family: 'Inter', sans-serif;
    color: white;
}




#SocialPic{
    max-height: 50px;
    max-width: 50px;
}

#SocialPicInsta{
    max-height: 44px;
    max-width: 44px;
}


.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    color: white;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease;
}

.loader {
    border: 8px solid #fff;
    border-top: 8px solid #3D8AE9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


form {
    padding: 40px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px; 
    margin-left: 710px; 
    margin-top: 40px;
    border: 2px solid #3D8AE9;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
}

input, textarea {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 12px; 
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: #333;
    color: white;
}

button {
    font-family: 'Inter', sans-serif;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; 
}


.cta-rectangle_contactus{
    font-family: 'Inter', sans-serif;
    position: relative;
    left: 1300px; 
    top: -400px;
    height: 300px;
    width: 220px;
    padding: 25px;
    background-color: #3D8AE9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.cta-rectangle_contactus p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    margin: 5px 0;
}

.success-message {
    color: white;
    display: none;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}