*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #242424;
    overflow: scroll;
}
.header{
    min-height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
}
.pagetitleFIRST{
    color: White;
    font-family: 'Inter', sans-serif;
    font-size: 8vmin;

}

.pagetitleSECOND{
    color: #5CD32D;
    font-family: 'Inter', sans-serif;
    font-size: 8vmin;
}

hr {
    position: static;
    left: 200px;
    top: 100px;
    height: 2px;
    border: none;
    background-color:#4357BC;
}
#ImgOneRect {
    position: relative;
    top: 50px;
    left: 100px;
    width: 100vmin;
    max-width: 50vmin;
    height: 81vmin;
    background-color: #3D8AE9;
   }
   

#RobAnHum {
    z-index: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    max-width: 50vmin;
    height: 80vmin;
   }
   
#TextOneRect {
    z-index: -1;
    position: absolute;
    top:76.1%;
    right: 10%;
    transform: translateY(-50%);
    width: 80vw; 
    max-width: 50vh;
    height: 81vh; 
    background-color: #4357BC;
}


#WhatMakesRobotH2 {
    margin-top: 10px; 
    text-align: center;
    text-decoration: underline;
    color: White;
    font-family: 'Inter', sans-serif;
    font-size: 3vmin;
}